body {
    background-color: #333;
}
h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

label {
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}

@keyframes glowing {
    0% { box-shadow: 0 0 10px #ffc107; }
    20% { box-shadow: 0 0 20px #4CAF50; }
    40% { box-shadow: 0 0 30px #00BCD4;}
    60% { box-shadow: 0 0 20px #9C27B0;}
    80% { box-shadow: 0 0 10px #F44336;}
    100% { box-shadow: 0 0 20px #ffc107;}
}

form {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    text-align: left;
    background-color: #444;
    color: white;
    font-family: Arial, sans-serif;
    animation: glowing 3s ease infinite;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s;
}

form.show {
    opacity: 1;
    transform: translateY(0);
}

label{
    font-weight: bold;
    font-size: 18px;
}

input[type="text"], input[type="email"], input[type="tel"],input[type="password"], input[type="Date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #444;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus,input[type="password"]:focus, input[type="Date"]:focus {
    border-bottom: 2px solid #299f0e;
    outline: none;
    animation: glowing 3s ease infinite;
}
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #444;
    color: white;
    font-size: 18px;
    resize: none;
}
textarea:focus {
    border: 2px solid #4CAF50;
    outline: none;
}

input[type="button"], input[type="reset"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #299f0e;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/*Make a modern stylish submit and reset button*/
input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #333;
    color: white;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #444;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

select:focus {
    border-bottom: 2px solid #299f0e;
    outline: none;
}

input[type="file"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #444;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

input[type="file"]:focus {
    border-bottom: 2px solid #299f0e;
    outline: none;
}

/* Progress Bar Styles */
#progress-bar {
    height: 10px;
    background-color: green;
    width: 0%;
    border-radius: 5px;
    transition: width 0.5s;
}











